</main>

<footer class="footer">
  <div class="container">
    <p>© 2024 Fitness Club. Курсовая работа, студент 3 курса.</p>
    <p>📍 г. Москва, ул. Спортивная, 1 &nbsp;|&nbsp; 📞 +7 (495) 000-00-00 &nbsp;|&nbsp; ✉ info@fitness-club.ru</p>
  </div>
</footer>

<script src="/js/main.js"></script>
</body>
</html>
